<!--
	Dev: arevalo.a.05@gmail.com
-->

<ul id="menu_list">
	<li><a href="exercise_1.html">Ex I</a></li>
	<li><a href="exercise_2.html">Ex II</a></li>
	<li><a href="exercise_3.html">Ex III</a></li>
	<li><a href="testing/test_exercise_1.html" target="_blank">Test</a></li>
</ul>