/*
 * Dev: arevalo.a.05@gmail.com
 */

@media screen and (min-width: 275px) and (max-width: 520px) {
    #content {
    	width: auto;
    	text-align: center;
    }

    #icon_user img {
    	width: 100px;
    	height: 100px;
    }

    #content article#list_user {
    	width: auto;
    	float: none;
    }

    .textfield {
    	width: 150px;
		border: 1px solid #666;
		padding: 4px;
    }

    .btn {
		height: 26px;
		padding: 4px;
		width: 60px;
		cursor: pointer;
	}

    .btn_reset,.btn_return {
        margin-left: 213px;    
    }
}

@media screen and (min-width: 40px) and (max-width: 274px) {
	#content {
    	width: auto;
    	text-align: center;
    }

    #icon_user {
    	display: none;
    }

    #icon_user img {
    	width: 200px;
    	height: 200px;
    }

    #content article#list_user {
    	width: 400px;
    	float: none;
    }

    .textfield {
    	width: 120px;
		border: 1px solid #666;
		padding: 4px;
    }

    .btn {
		height: 26px;
		padding: 4px;
		width: 60px;
		cursor: pointer;
	}

    .btn_reset,.btn_return {
        margin-left: 213px;    
    }
}

@media screen and (min-width: 520px) and (max-width: 768px) {
    #content {
    	width: auto;
    	text-align: center;
    }

    #content article#icon_user {
    	width: 600px;
    }

    #icon_user img {
    	width: 200px;
    	height: 200px;
    }

    #content article#list_user {
    	width: 420px;
    	float: none;
    }

    .textfield {
    	width: 280px;
		border: 1px solid #666;
		padding: 4px;
    }

    .btn {
		height: 26px;
		padding: 4px;
		width: 60px;
		cursor: pointer;
	}

    .btn_reset,.btn_return {
        margin-left: 300px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px){
    #content {
    	width: auto;
    	text-align: center;
    }

    #content article#icon_user {
    	width: 200px;
    }

    #icon_user img {
    	width: 200px;
    	height: 200px;
    }

    #content article#list_user {
    	width: 600px;
    }

    .textfield {
    	width: 300px;
		border: 1px solid #666;
		padding: 4px;
    }

    .btn {
		height: 26px;
		padding: 4px;
		width: 60px;
		cursor: pointer;
	}
}