/*
 * Dev: arevalo.a.05@gmail.com
 */

/* body */
* {
    margin:0;
    padding:0;
    font-family: Arial; 
}

/* Style for menu, base.html */
#menu {
	width: 100%;
	background-color: #111;
	color: #ddd;
	height: 60px;
}

#menu li {
	list-style: none;
	text-align: center;
    display: table-cell; 
	width: 50px;
    height: 55px;    
    vertical-align: middle;
    border-bottom: 2px solid #111;
}

#menu li a {
	text-decoration: none;
	color: #ccc;
}

#menu li:hover {
	border-bottom: 2px solid #fff;
}

#content {
	margin: auto;
	margin-top: 50px;
	text-align: center;
	width: 1000px;
}

#content article#icon_user {
	display: inline-block;
	width: 300px;
}

#content article#list_user {
	width: 650px;
	display: inline-block;
	float: right;
	text-align: left;
}

#content #icon {
	border-radius: 120px;
	border: 2px solid #222;
	display: inline;
}

.textfield {
	width: 300px;
	border: 2px solid #666;
	padding: 8px;
	font-style: italic;
}

.btn {
	height: 35px;
	padding: 8px;
	width: 60px;
	cursor: pointer;
}

#btn_add {
	color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}

.btn_del {
	color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}

.btn_reset,.btn_return {
	color: #333;
    background-color: #fff;
    border-color: #ccc;
    margin-left: 322px;    
}

.btn_detail {
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;
}

.red {
	color: #f03333;
}

.content_user_detail {
	display: none;
	font-size: 14px;
}

.content_user_detail table {
	font-style: italic;
}

#list_posts {
	list-style: none;
	font-size: 13px;
	line-height: 20px;
}

#list_posts li {
	margin-left: 1em;
}